body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Pirata One', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 150px;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 680px;
  bottom: 300px;
}

.gaming {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.cooking {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.profile-pic {
  border-radius: 50%;
}

.footer-link {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.introduction-of-me {
  color: #40514E;
}

.copyright {
  color: #EAF6F6;
}

.BUTTON_BEH {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background-color: #11999E;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 15px auto 60px auto;
}

.BUTTON_BEH:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
